body {
    min-height: 100vh;
    padding: 30px;
    overflow: hidden;
}

form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    color: black;
}

.div_submit_btn{
    z-index: 100;
    position: relative;
}

/* Toggling Password */
.password-toggle {
    position: absolute;
    left: 10px;
    top: 60px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #6c757d;
    padding: 5px;
    transition: color 0.3s ease;
}

.password-toggle:hover {
    color: #000;
}

.password-input-container {
    position: relative;
}

input {
    background: linear-gradient(90deg, #fff, #fff);
    padding-left: 2.7rem !important;
}

.btn-gradient {
    padding: 0.3rem 1.8rem;
}

@media (max-width: 767px) {
    .swal2-toast h2:where(.swal2-title),
    div:where(.swal2-container) div:where(.swal2-popup) span {
        font-size: 1rem !important;
    }

    .password-toggle {
        top: 55.5px;
    }

    .custom-close-btn i {
        font-size: 1.2rem !important;
    }
}
