.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.body {
    height: 100vh;
    background: linear-gradient(135deg, var(--primary-blue), var(--primary-purple));
}

.parent {
    background-color: rgba(255, 255, 255, 0.788);
    height: 36rem;
    width: 90%;
    display: flex;
    justify-content: center;
    transition: all 1s ease-out;
    border-radius: 2.2rem;
    overflow: hidden;
}

.chiled1,
.chiled3 {
    width: 28.875rem;
    transition: all 1s ease-out;
    display: none;
}

.input-container {
    width: 80%;
    position: relative;
}

.input1 {
    background: linear-gradient(90deg, white, white);
    border: none;
    width: 100%;
    padding: 0.5rem;
    margin-top: 6.5rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    color: rgb(0, 0, 0);
}

.input2 {
    background: linear-gradient(90deg, white, white);
    border: none;
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2.7rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    color: rgb(0, 0, 0);
}

.password-toggle {
    position: absolute;
    left: 10px;
    top: 41px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #6c757d;
    padding: 5px;
    transition: color 0.3s ease;
}

.password-toggle:hover {
    color: #000;
}

.paragraf {
    width: 100%;
    text-align: center;
    margin-top: 0.7rem;
    font-size: 0.7rem;
    color: rgb(184, 184, 184);
    text-decoration: none;
}

.submit {
    background-color: #fff;
    border: 1px solid #000;
    padding: 0.5rem;
    padding-bottom: 2.2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 3rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    transition: all 0.2s ease-out 0.3s;

}

.wrapear {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.h11 {
    padding-top: 5rem;
    color: white;
}

label {
    cursor: pointer;
}



.chiled2 {
    transition: all 1s ease-out;
    background: #fff;
    width: 100%;
}

.wrapear2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h12 {
    color: #000 !important;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-top: 12rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.paragraf2 {
    color: #000 !important;
    font-weight: 200;
    width: 100%;
    text-align: center;
    margin-top: 0.8rem;
}

.div_btn-gradient{
    z-index: 100;
}

.btn-gradient::after{
    border-radius: 0.5rem;
    width: 102%;
}

.btn-gradient{
    background-color: rgba(225, 225, 225, 0.8);
}

.animate1 .btn-gradient::after {
    width: 105%;
}

.close {
    width: 40%;
    border-radius: 0.5rem;
    padding: 0.6rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-top: 1.5rem;

}

.back {
    color: #000;
    width: 40%;
    border-radius: 0.5rem;
    padding: 0.6rem;
    font-weight: 500;
    margin-top: 0.8rem;
}

.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.goBack {
    width: 80%;
}

.animate1 {
    transition: all 0.8s ease-out;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    width: 28.875rem;

}

.animate2 {
    transition: all 0.8s ease-out;
    display: block;
    background: transparent;
}

.animate3 {
    transition: all 0.8s ease-out;
    width: 70%;
}

.animate5 {
    color: rgb(208, 208, 208);
}

.animate6 {
    color: rgb(255, 255, 255);
    border: none;
}

.submit:hover {
    padding-bottom: 0.8rem;
    height: 3rem;
    transform: rotate(360deg);
    border-radius: 3rem;
    width: 4rem;
    height: 4rem;
    background: linear-gradient(135deg, var(--primary-blue), var(--primary-purple));
    background-color: #fff;
    margin-top: 1.3rem;
    animation: pulse1 1s infinite;

}

/* --------------------- checkbox css --------------------- */
.chk-remember-me .round {
    position: relative;
} 

.chk-remember-me .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%; /* Makes the label round */
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: block;
    border:1px solid black;
    transition: all ease 0.3s;
} 

.chk-remember-me .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 8px;
    opacity: 0; /* Hidden by default */
    position: absolute;
    top: 9px;
    transform: rotate(-45deg); /* Creates the checkmark shape */
    width: 12px;
} 

.chk-remember-me .round input[type="checkbox"] {
    visibility: hidden; /* Hides the default checkbox */
    display: none; /* Further ensures hiding */
    opacity: 0;
} 

.chk-remember-me .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a; /* Green background when checked */
    border-color: #66bb6a;
}

.chk-remember-me .round input[type="checkbox"]:checked + label:after {
    opacity: 1; /* Shows the checkmark when checked */
}



@keyframes pulse1 {
    0% {
        border: none;
        transform: scale(1);
    }

    50% {
        border: none;
        transform: scale(1.1);
    }

    100% {
        border: none;
        transform: scale(1);
    }
}

@media (max-width: 1200px) {
    .paragraf2 {
        display: none;
    }

    .animate6 {
        margin-top: 1.9rem;
        width: 50%;
    }
}
@media (max-width: 950px) {
.btn-gradient.back.text-center.text-decoration-none.d-none{
        display: flex !important;
        width: 80%;
        border:1px solid rgb(0, 0, 0);
        background-color: #fff;
        margin-top: 0;
    }
    .btn-gradient.back.text-center.text-decoration-none.d-none:after {
    background:none;
    }
}
@media (min-width: 375px) and (max-width: 950px) {
    .animate1 {
        display: none;
    }
    .animate3 {
        transition: none;
    }
    
    .btn-gradient::after {
        width: 104% !important;
    }
}

@media (max-width: 767px) {
    .submit {
        width: 80%;
    }

    .submit:hover {
        padding-bottom: 0.8rem;
        transform: scale(1.1);
        background: linear-gradient(135deg, var(--primary-blue), var(--primary-purple));
        background-color: #fff;
    }
    
    .parent {
        width: 100%;
    }

    div:where(.swal2-container) div:where(.swal2-popup) span,
    .swal2-toast h2:where(.swal2-title) {
        font-size: 1rem !important;
    }

    .custom-close-btn i {
        font-size: 1.2rem !important;
    }

    .password-toggle {
        top: 39px;
    }
}

@media (max-width: 560px) {
    .submit:hover {
        transform: scale(1.1);
        background: linear-gradient(135deg, var(--primary-blue), var(--primary-purple));
        background-color: #fff;
        width: 3rem;
        height: 3rem;

    }

    .submit {
        padding: 0.5rem;
        margin-top: 1rem;
        padding-bottom: 2rem;
        width: 80%;
    }

    .input1 {
        margin-top: 4rem;
        color: rgb(0, 0, 0);

    }

    .input2 {
        color: rgb(0, 0, 0);
    }

    .paragraf {
        color: rgb(171, 171, 171);
    }
    
    .animate1 {
        display: none;
    }
}