.card {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 40px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    border: none;
    background: rgba(255, 255, 255, 0.9);
}
        
.profile-container {
    padding: 0;
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 400px;
    border-radius: 20px;
 
}
        
.profile-img {
  width: 100%;
  height: 100%;
}

.card__user-profile-icon {
    font-size: 20rem;
    background: transparent;
}
        
.content-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
        
.person-name {
    position: relative;
    font-weight: 800;
    padding-bottom: 10px;
    display: inline-block;
}

.person-name::after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(135deg, #3498db, #9b59b6);
    height: 6px;
    border-radius: 8px;
}
        
.person-desc {
    text-align: justify;
    margin-bottom: 25px;
    line-height: 1.9;
}
        
.contact-info {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
        
.contact-item {
    display: flex;
    align-items: center;
}
        
.contact-item i {
    width: 30px;
}
        
.social-links {
    display: flex;
    gap: 15px;
}
        
.social-links a {
    width: 45px;
    height: 45px;
    color: white;
    border-radius: 50%;
    transition: all 0.3s ease;
    text-decoration: none;
}
        
.social-links a:hover {
    transform: translateY(-5px);
}
        
/* برای حالت راست چین و چپ چین متناوب */
.card:nth-child(odd) .row {
    flex-direction: row;
}
        
.card:nth-child(even) .row {
    flex-direction: row-reverse;
}

@media (max-width: 992px) {
    .profile-container {
        height: 300px;
    }
            
    .card:nth-child(odd) .row,
    .card:nth-child(even) .row {
        flex-direction: column;
    }
            
    .col-md-5, .col-md-7 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .profile-img {
        min-height: 300px;
    }
}